@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.auth_btn {
    display: inline-block;
    text-align: center;

    width: 100%;

    border: 0.8rem;
    border-radius: 0.8rem;
    padding: 1.4rem 2.4rem;

    font-family: "Roboto Bold", sans-serif;
    font-size: 1.6rem;
    background-color: #EC9A29;
    color: white;

    cursor: pointer;
    transition: background-color 0.3s;
}

.auth_btn:disabled {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

.auth_button_title {
  max-width: 200px;
  font-family:"Roboto", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}

.edit_profile_button {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  width: 8rem;
  height: 2.5rem;
  
  margin-bottom: 2rem;
  cursor: pointer;
}

.roboto-edit_profile {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 1.2rem;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    color: #FFFFFF;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 24px;
}

.login_page_background {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 500px;
  margin-top: 50px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.sign_up_page_background {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 575px;
  margin-top: 50px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.verification_page_background {
  width: 400px;
  height: 450px;

  background-color: #F2EFE9;
  border-radius: 16px;
}

.verification_password_page_background {
  width: 400px;
  height: 450px;

  background-color: #F2EFE9;
  border-radius: 16px;
}

.reset_password_page_background {
  width: 350px;
  height: 360px;

  background-color: #F2EFE9;
  border-radius: 16px;

  margin-top: 100px;
}

.nav_bar_background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  background-color: #403F4C;

  width: 100vw;
  height: 60px;
}

.nav_options {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-left: 9rem;
  position: relative;

  gap: 2rem;
}

a, a:visited {
  font-family:"Roboto Flex", sans-serif;
  font-weight: 25;
  font-size: 1.7rem;

  color: #FFFFFF;

  text-decoration: none;
  cursor: pointer;
  outline: none;
}

a.active, a:hover {
  font-weight: 5;
  
  color: #C5C5C5;

  text-decoration: none;
} 

img {
  border-radius: 50%;
  object-fit: cover;
  image-rendering: smooth;
}

.nav_bar_profile_pic_container {
  margin-right: 1rem;
  margin-top: 1.2rem;
}

.nav_bar_profile_pic {
  width: 3.5rem;
}

.nav_bar_profile_pic:hover {
  outline: 2px solid #FFFFFF;
}

@media (max-width: 896px) and (orientation: landscape) {
  .edit_profile_button {
    width: 15rem;
    height: 4rem;
  }

  .roboto-edit_profile {
    font-size: 2rem;
  }

  .nav_options {
    margin-left: 30rem;
  }
}