@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.auth_button {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  width: 90px;
  height: 30px;
  padding: 5px 10px;
  
  cursor: pointer;
}

.auth_button:disabled {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  width: 90;
  padding: 5px 10px;
  height: 60;

  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

.button_title {
  max-width: 200px;
  font-family:"Roboto Slab", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}

.button_container {
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

.login_page_background {
  width: 300px;
  height: 450px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.sign_up_page_background {
  width: 300px;
  height: 500px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.verification_page_background {
  width: 350px;
  height: 420px;

  background-color: #F2EFE9;
  border-radius: 16px;
}

.verification_password_page_background {
  width: 350px;
  height: 380px;

  background-color: #F2EFE9;
  border-radius: 16px;
}

.reset_password_page_background {
  width: 350px;
  height: 360px;

  background-color: #F2EFE9;
  border-radius: 16px;

  padding-top: 10px;
}

.nav_bar_background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  background-color: #403F4C;

  width: 100vw;
  height: 60px;
}

.nav_options {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  position: relative;

  gap: 75px;
  padding-left: 85px;
}

a, a:visited {
  font-family:"Roboto Flex", sans-serif;
  font-weight: 25;
  font-size: 22px;

  color: #FFFFFF;

  text-decoration: none;
  cursor: pointer;
  outline: none;
}

a.active, a:hover {
  font-weight: 5;
  
  color: #C5C5C5;

  text-decoration: none;
} 

img {
  border-radius: 50%;
  object-fit: cover;
}

.nav_bar_profile_pic_container {
  margin-right: 20px;
  margin-top: 6px;
}

.nav_bar_profile_pic {
  width: 47px;
  height: 47px;
}

.nav_bar_profile_pic:hover {
  outline: 2px solid #FFFFFF;
}