@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.auth_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    width: 92vw;

    border-radius: 1.6rem;
    padding: 4rem;

    background-color: #F9F9F9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.login_container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    width: 300px;
}

.auth_button_container {
    height: 2.5rem;
    margin-bottom: 1rem;
}

.sign_up_container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 575px;
}

.verfication_box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 95%;
    min-width: 900;
}

.box_shadow {
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.box_header {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    
    color: #EC9A29;
    text-align: center;
}

.user_input form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;

    gap: -10rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    
    margin-bottom: 2.4rem;
}

.form-group input {
    position: relative;
    z-index: 1;

    height: 2.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0;
    border: 0.1rem solid #E0E0E0;
    border-radius: 0.3rem;
    background-color: white;

    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    color: #2C2C2C;
    transition: border-color 0.3s;
}

.form-group input[type="password"] {
    padding-right: 1.9rem;
}

.form-group input[type="text"] {
    padding-right: 1.9rem;
}

.form-group input:focus {
    outline: none;
    border-color: #EC9A29;
}


.input_box_title {
    padding-bottom: 0.1rem;

    font-family: "Roboto Slab", sans-serif;
    font-size: 0.85rem;
    color: #403F4C;
}

.password_icon_container {
    position: absolute;
}

.password_icon {
    position: absolute;
    cursor: pointer;
    
    right: 3%;
    top: 50%;
}

.login_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
    margin-left: 0.7rem;
}

.sign_up_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 4rem;
    margin-left: 0.5rem;
    gap: 1rem;
}

.sign_up_password_component {
    width: 100%;

    padding-left: 6.2rem;
}

.sign_up_button_container {
    padding-bottom: 27px;
}

.login_div_container {
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.sign_up_div_container {
    margin-top: 4rem;
}

.auth_hyperlink_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.sign_up_hyperlink_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    gap: 5px;
}

.text_hyperlink_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.25rem;

    font-family: "Roboto Slab", sans-serif;
    font-size: 1.068rem;
    color: #403F4C;
}

a.auth_hyperlink {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.05rem;
    color: #403f4c;
    text-align: center;

    cursor: pointer;

    text-decoration: none;
}

a.auth_hyperlink:visited {
    color: #403f4c;
}

a.auth_hyperlink:hover {
    color: #EC9A29;
}

.verification_container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 575px;
}

.verification_input_box_container {
    display: flex;
    justify-content: center;

    width: 130%;

    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: -3rem;
}

.verification_prompt_text {
    width: 100%;
    padding-bottom: 2rem;

    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    color: #403F4C;
}

.verification_navigation_buttons_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 20%;

    gap: 10rem;
    padding-top: 13%;
}

.nav_button_container {
    display: flex;
    
    width: 60%;
    height: 80%;
}

.initiate_reset_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    padding-top: 0.5rem;
}

.reset_input_container {
    margin-top: 3rem;
}

.sign_up_error_message_container {
    display: flex;
    justify-content: center;

    margin-top: 1.8rem;
    margin-bottom: -2.8rem;
}

.sign_up_error_message {
    display: flex;
    justify-content: center;
    
    position: absolute;
    margin-top: -1.3rem;

    color: red; 
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.1rem;
}

.login_error_message_container {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.login_error_message {
    display: flex;
    justify-content: center;
    
    position: absolute;
    margin-top: -1.5rem;

    color: red; 
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
}

.verification_error_message_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    height: 20%;
    min-height: 3.8rem;
}

.verification_error_message {
    color: red; 
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
}

.email_verification_success_message {
    color: green;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
}

.email_verification_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;

    margin-top: 4rem;
    padding-left: 0.75rem;
    
    gap: 2rem;
}

.reset_password_prompt_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #403F4C;

    margin-bottom: 4rem;
}

.password_success_message {
    position: absolute;

    color: green; 

    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
}

.password_verification_prompt_text {
    display: flex;
    justify-content: center;

    width: 100%;
    padding-bottom: 2rem;

    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    color: #403F4C;
}