@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.auth_button {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  width: 90px;
  height: 30px;
  padding: 5px 10px;
  
  cursor: pointer;
}

.auth_button:disabled {
  background-color: #EC9A29;
  border: none;
  border-radius: 8px;

  width: 90;
  padding: 5px 10px;
  height: 60;

  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

.button_title {
  max-width: 200px;
  font-family:"Roboto Slab",serif;
  font-size: 15px;
  color: #FFFFFF;
}

.button_container {
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

.login_page_background {
  width: 70%;
  height: 500px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.sign_up_page_background {
  width: 70%;
  height: 550px;
  
  background-color: #F2EFE9;
  border-radius: 16px;
}

.verification_page_background {
  width: 406.84px;
  height: 450px;

  background-color: #F2EFE9;
  border-radius: 16px;
}