@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.profile_header {
    display: flex;
    flex-direction: column;
    
    min-width: 25rem;
    width: 97.5%;

    padding-left: 1.3rem;
    padding-top: 1rem;
}

.profile_content {
    display: flex;
    gap: 0.5rem;
    
    width: 98.75%;
}

.card {
    padding: 1.15rem;
    margin-bottom: 1.5rem;

    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: -1rem;
}

.card_header h2 {
    margin: 0;
    
    font-family: "Roboto Bold", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #2C2C2C;
}

.card_header [class^=ri-] {
    font-family: remixicon !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    
    cursor: pointer;
}

#profile {
    max-height: 11.5rem;
}

.cover_photo_container {
    position: relative;

    width: 100%;
    max-height: 15rem;
    height: 70%;
}

.cover_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    object-fit: cover; /* Prevents image distortion */
}

.profile_picture_container {
    display: flex;
    justify-content: flex-start;
    position: relative;

    max-width: 75rem; /* Match cover photo width */
    margin-top: -6rem;
}

.profile_picture {
    position: relative;
    margin-left: 2rem;

    width: 10rem;
    height: 10rem;

    border: 5px solid white;
    border-radius: 50%;
    background-color: white;
}

.profile_name {
    padding-top: 4.8rem;
}

.profile_name h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #2C2C2C;
}

.profile_main {
    width: 90%;
}

@media (max-width: 1200px) {
    .cover_photo {
        width: 93%;
        height: 85%;
    }

    .profile_name {
        padding-top: 3.5rem;
    }

    .profile_name h2 {
        width: 50%;

        font-size: 1.8rem;
    }

    .profile_picture {
        width: 9rem;
        height: 9rem;
    }
    
    .profile_main {
        display: block;
        
        min-width: 10rem;
        padding-left: 1.5rem;
    }

    .profile_content {
        flex-direction: column;
    }
}