@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.profile_header {
    width: 1450px;
    height: 176px;
    
    margin-left: 16px;
    margin-bottom: 30px;
}

.profile_header_top_layer {
    display: flex;
    flex-direction: row;
    margin: auto;

    width: 1450px;
}

.profile_container {
    padding-bottom: 200px;
}

.profile_pic {
    width: 105px;
    height: 105px;
}

.name_container {
    width: 1090px;

    margin-left: 30px;
    margin-top: 30px;
}

.roboto-name {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 38px;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    color: #403F4C;
}

.bio_container {
    width: 1450px;
    height: 50px;

    margin-top: 15px;
}

.roboto-bio {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    font-variation-settings: "wdth" 0;

    color: #403F4C;
}

.profile_sections_container {
    padding-left: 32px;
}

.profile_sections {
    display: flex;
    flex-direction: row;

    width: 1410px;

    margin: 0px;
    padding: 0px;

    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    border-color: #403F4C;
    
}

.profile_sections_selected {
    background-color: #E5E2E2;
}

.profile_sections li {
    padding-top: 10px;

    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 375;
    font-size: 20px;
    font-style: normal;

    border-right: 1px solid transparent;
    border-color: #403F4C;

    color: #403F4C;

    cursor: pointer;

    list-style: none;
}

.outline {
    stroke: #403F4C;
    border-bottom: 2px solid transparent;
}

.sections {
    outline: none;

    width: 352px;
    height: 35px;
}