@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.modal_cover_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 9rem;

    color: #999;
    background-color: #E0E0E0;
    border-radius: 8px;
    margin-bottom: 0.8rem;
}

.modal_cover_photo img {
    width: 100%;
    height: 100%;

    border-radius: 8px;
}

.upload_button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 0.8rem 1.2rem;

    background-color: #FFFFFF;
    border: 1px solid #E0DDD5;
    border-radius: 0.6rem;

    color: #403F4C;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
}

.edit_profile_photo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;

    border-radius: 50%;
    background-color: white;
    color: #403F4C;
}

.change_profile_button {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.language_items_container {
    display: flex;
    flex-direction: row;

    width: 92%;
    gap: 0.5rem;
}
.language_item {
    display: flex;
    align-items: center;

    margin-bottom: 0.8rem;
    gap: 1rem;
}

.language_select, .proficiency_select {
    width: 18rem;
    height: 2.5rem;
    padding-left: 1rem;

    border: 1px solid #E0DED8;
    border-radius: 0.6rem;

    font-family: "Roboto Slab", serif;
    font-size: 0.84rem;
    color: #403F4C;
    appearance: none;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23403F4C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1rem;
}

.remove_language {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;
    
    cursor: pointer;
    border: none;
    border-radius: 50%;

    color: #403F4C;
    background: none;
}

.remove_language:hover {
    background-color: #eddcbd;
}

.add_language {
    display: flex;
    align-items: center;

    cursor: pointer;
    background: none;
    border: none;
    color: #EC9A29;
    
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}